<div class="_wrapper" *ngIf="results">
  <div class="results">
    <div *ngFor="let item of results">
      <video-result 
        *ngIf="item.id.kind === 'youtube#video'" 
        [video]="item"></video-result>
      <channel-result 
        *ngIf="item.id.kind === 'youtube#channel'" 
        [channel]="item"></channel-result>
    </div>
  </div>
  <button 
    *ngIf="!loading" 
    class="load-more-btn"
    (click)="loadMore()">Show more items</button>
</div>
<div *ngIf="!loading && results && (results ? !results.length : false)" class="_no-content">
  No results found for your search! You may try other keywords
</div>
<app-loading [loading]="loading"></app-loading>