<div class="_wrapper" *ngIf="results">
  <div class="results">
    <a class="results__item" *ngFor="let item of results">
      <img 
        class="results__item__img"
        [src]="item.snippet.thumbnails.default.url" 
        [width]="item.snippet.thumbnails.default.width"
        [height]="item.snippet.thumbnails.default.height"
        alt="">
      <div class="results__item__info">
        <h3 class="results__item__info__title">{{ item.snippet.title }}</h3>
        <h5 class="results__item__info__description">{{ item.snippet.channelTitle }}</h5>
      </div>
      <div class="clearfix"></div>
    </a>
  </div>
  <button 
    *ngIf="!loading" 
    class="load-more-btn"
    (click)="loadMore()">Show more items</button>
</div>
<div *ngIf="results && (results ? !results.length : false)" class="_no-content">
  No results found for your search! You may try other keywords
</div>
<app-loading [loading]="loading"></app-loading>